openapi: 3.2.0
info:
  title: Decisionlink Assets API
  version: 0.1.0
  x-refined-note:
  - x-api-evangelist-source differs across the merged source definitions and was not carried
  description: 'Operations tagged assets across 2 of this provider''s published API definitions: decisionlink-collaboration-openapi.yml, decisionlink-value-proposition-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.xfactor.io
  description: Production API host (Auth0 audience of the Xfactor.io web application)
tags:
- name: assets
paths:
  /v1/collaboration/valueProps/asset:
    get:
      tags:
      - assets
      summary: Get the Asset associated with the Collaboration
      description: "Endpoint for reading Asset associated with the Collaboration\n\nReturns\n-------\nAsset\n    Returns success and the asset_url"
      operationId: get_asset_v1_collaboration_valueProps_asset_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
      security:
      - HTTPBearer: []
    servers:
    - url: https://api.xfactor.io
      description: Production API host (Auth0 audience of the Xfactor.io web application)
  /v1/value-proposition/{valuePropId}/assets:
    get:
      tags:
      - assets
      summary: Get the assets for a Value Proposition
      description: "Parameters\n----------\n - value_prop_id: int - value proposition id\n - include_deleted_templates: bool - optional query param\n - account_workflow_id: int - optional query param\n - is_value_tracker: bool - optional query param\n\nReturns\n-------"
      operationId: get_assets_v1_value_proposition__valuePropId__assets_get
      security:
      - HTTPBearer: []
      parameters:
      - name: valuePropId
        in: path
        required: true
        schema:
          type: integer
          title: Valuepropid
      - name: includeDeletedTemplates
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          default: false
          title: Includedeletedtemplates
      - name: accountWorkflowId
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          title: Accountworkflowid
      - name: isValueTracker
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          default: false
          title: Isvaluetracker
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Asset_2'
                title: Response Get Assets V1 Value Proposition  Valuepropid  Assets Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.xfactor.io
      description: Production API host (Auth0 audience of the Xfactor.io web application)
components:
  schemas:
    Asset:
      properties:
        success:
          type: boolean
          title: Success
          description: Success of the request
        asset_url:
          type: string
          title: Asset Url
          description: URL to download the asset
      type: object
      required:
      - success
      - asset_url
      title: Asset
      description: Asset model
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    Asset_2:
      properties:
        sit_active:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Sit Active
        id:
          type: integer
          title: Id
          description: Unique identifier for the asset
        account_id:
          type: integer
          title: Account Id
          description: ID of the account associated with the asset
        account_asset_id:
          type: integer
          title: Account Asset Id
          description: ID of the asset within the account
        language_type_id:
          type: integer
          title: Language Type Id
          description: ID representing the language type of the asset
        account_solution_id:
          type: integer
          title: Account Solution Id
          description: ID representing the solution associated with the asset
        sequence:
          type: integer
          title: Sequence
          description: Sequence order of the asset
        name:
          type: string
          title: Name
          description: Name of the asset
        description:
          type: string
          title: Description
          description: Detailed description of the asset
        template_path:
          type: string
          title: Template Path
          description: File path for the asset template
        artifact_name:
          type: string
          title: Artifact Name
          description: Name of the artifact associated with the asset
        default_active:
          anyOf:
          - type: integer
          - type: 'null'
          title: Default Active
        web_calculator:
          type: integer
          title: Web Calculator
          description: asset has a web calculator integration (0 or 1)
        pdf:
          type: integer
          title: Pdf
          description: asset has a PDF version available (0 or 1)
        term:
          type: integer
          title: Term
          description: Term identifier associated with the asset
        system_generated:
          type: integer
          title: System Generated
          description: Indicates if the asset was system-generated (0 or 1)
        dep_account_asset_template_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Dep Account Asset Template Id
        account_asset_template_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Account Asset Template Id
          description: Template ID associated with the asset
        format_type_id:
          type: integer
          title: Format Type Id
          description: Format type identifier of the asset
        format:
          type: string
          title: Format
          description: Format description of the asset
        asset_sequence:
          type: integer
          title: Asset Sequence
          description: Asset sequence order in relation to others
        download_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Download Url
          description: URL to download the asset
          default: ''
      type: object
      required:
      - id
      - account_id
      - account_asset_id
      - language_type_id
      - account_solution_id
      - sequence
      - name
      - description
      - template_path
      - artifact_name
      - web_calculator
      - pdf
      - term
      - system_generated
      - account_asset_template_id
      - format_type_id
      - format
      - asset_sequence
      title: Asset
      description: Asset model
  securitySchemes:
    HTTPBearer:
      type: http
      description: Access token in the form of a JWT
      scheme: bearer
x-refined-from:
- decisionlink-collaboration-openapi.yml
- decisionlink-value-proposition-openapi.yml
