openapi: 3.2.0
info:
  title: Decisionlink Factors API
  version: 0.1.0
  x-refined-note:
  - x-api-evangelist-source differs across the merged source definitions and was not carried
  description: 'Operations tagged factors across 2 of this provider''s published API definitions: decisionlink-collaboration-openapi.yml, decisionlink-value-proposition-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.xfactor.io
  description: Production API host (Auth0 audience of the Xfactor.io web application)
tags:
- name: factors
paths:
  /v1/collaboration/valueProps/factors:
    get:
      tags:
      - factors
      summary: Get the Factors for a Collaboration organized by Factor Group
      description: "Endpoint for reading Factors for a Collaboration organized by Factor group\n\nReturns\n-------\nList[FactorGroup]\n    Returns the Factors organized by Factor Group"
      operationId: get_factors_v1_collaboration_valueProps_factors_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FactorGroup'
                type: array
                title: Response Get Factors V1 Collaboration Valueprops Factors Get
      security:
      - HTTPBearer: []
    patch:
      tags:
      - factors
      summary: Save the values for Collaboration factors
      description: "Endpoint for saving Factors\n\nParameters\n----------\nfactors : FactorPayload\n    The Factors and their values\n\nReturns\n-------\nMessageResponse\n    Returns success and message"
      operationId: update_factors_v1_collaboration_valueProps_factors_patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FactorPayload'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
    servers:
    - url: https://api.xfactor.io
      description: Production API host (Auth0 audience of the Xfactor.io web application)
  /v1/value-proposition/{valuePropId}/all-factors:
    get:
      tags:
      - factors
      summary: Get all factors for a Value Proposition
      operationId: get_all_factors_route_v1_value_proposition__valuePropId__all_factors_get
      security:
      - HTTPBearer: []
      parameters:
      - name: valuePropId
        in: path
        required: true
        schema:
          type: integer
          title: Valuepropid
      - name: ai_updatable_only
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Ai Updatable Only
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AllFactor'
                title: Response Get All Factors Route V1 Value Proposition  Valuepropid  All Factors Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.xfactor.io
      description: Production API host (Auth0 audience of the Xfactor.io web application)
  /v1/value-proposition/{valuePropId}/key-factors:
    get:
      tags:
      - factors
      summary: Get the Key Factors by Factor Group
      description: "Endpoint for reading Key Factors by Factor group\n\nReturns\n-------\nList[FactorGroup]\n    Returns the Factors organized by Factor Group"
      operationId: get_key_factors_v1_value_proposition__valuePropId__key_factors_get
      security:
      - HTTPBearer: []
      parameters:
      - name: valuePropId
        in: path
        required: true
        schema:
          type: integer
          title: Valuepropid
      - name: ai_updatable_only
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Ai Updatable Only
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FactorGroup'
                title: Response Get Key Factors V1 Value Proposition  Valuepropid  Key Factors Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.xfactor.io
      description: Production API host (Auth0 audience of the Xfactor.io web application)
  /v1/value-proposition/{valuePropId}/scalers:
    get:
      tags:
      - factors
      summary: Get the scaling factors of Value Proposition
      description: "Endpoint for reading the Value Proposition scalers\n\nReturns\n-------\nList[Factor]\n    Returns the Value Proposition scalers"
      operationId: get_scalers_v1_value_proposition__valuePropId__scalers_get
      security:
      - HTTPBearer: []
      parameters:
      - name: valuePropId
        in: path
        required: true
        schema:
          type: integer
          title: Valuepropid
      - name: ai_updatable_only
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Ai Updatable Only
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Factor_2'
                title: Response Get Scalers V1 Value Proposition  Valuepropid  Scalers Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.xfactor.io
      description: Production API host (Auth0 audience of the Xfactor.io web application)
  /v1/value-proposition/{valuePropId}/factors:
    patch:
      tags:
      - factors
      summary: Save the values for factors
      description: "Endpoint for saving Factors\n\nParameters\n----------\nfactors : FactorPayload\n    The Factors and their values\n\nReturns\n-------\nMessageResponse\n    Returns status code and success message"
      operationId: update_factors_v1_value_proposition__valuePropId__factors_patch
      security:
      - HTTPBearer: []
      parameters:
      - name: valuePropId
        in: path
        required: true
        schema:
          type: integer
          title: Valuepropid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FactorPayload'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse_2'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.xfactor.io
      description: Production API host (Auth0 audience of the Xfactor.io web application)
  /v1/value-proposition/{valuePropId}/factor-override:
    post:
      tags:
      - factors
      summary: override factor name
      description: "Endpoint for overriding factors\n\nParameters\n----------\nfactor_override : FactorOverrideNamePayload\n    The factor override name and id\n\nReturns\n-------\nMessageResponse\n    Returns status code and success message"
      operationId: override_factor_name_v1_value_proposition__valuePropId__factor_override_post
      security:
      - HTTPBearer: []
      parameters:
      - name: valuePropId
        in: path
        required: true
        schema:
          type: integer
          title: Valuepropid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FactorOverrideNamePayload'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse_2'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.xfactor.io
      description: Production API host (Auth0 audience of the Xfactor.io web application)
components:
  schemas:
    UnitType:
      properties:
        id:
          type: integer
          title: Id
          description: ID for the Unit Type
        name:
          type: string
          title: Name
          description: Name of the Unit Type
        abbreviation:
          anyOf:
          - type: string
          - type: 'null'
          title: Abbreviation
          description: Abbreviation for the Unit Type
      type: object
      required:
      - id
      - name
      - abbreviation
      title: UnitType
      description: UnitType model
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    Factor:
      properties:
        id:
          type: string
          title: Id
          description: ID for the Factor
        sequence:
          type: string
          title: Sequence
          description: Sequence of the Factor
        name:
          type: string
          title: Name
          description: Name of the Factor
        description:
          type: string
          title: Description
          description: Description of the Factor
        unit_type_id:
          type: string
          title: Unit Type Id
          description: Unit type of the Factor
        unit_type:
          $ref: '#/components/schemas/UnitType'
          description: Unit Type object for the Factor Unit Type
        precision:
          type: string
          title: Precision
          description: Decimal precision for the Factor
        value:
          anyOf:
          - type: string
          - type: integer
          - type: number
          title: Value
          description: Value of the Factor
        value_fr:
          anyOf:
          - type: string
          - type: integer
          - type: 'null'
          title: Value Fr
          description: Value of the Factor
          default: 0
        value_fmt:
          anyOf:
          - type: string
          - type: integer
          - type: 'null'
          title: Value Fmt
          description: Value of the Factor
          default: 0
      type: object
      required:
      - id
      - sequence
      - name
      - description
      - unit_type_id
      - unit_type
      - precision
      - value
      title: Factor
      description: Factor model
    FactorGroup:
      properties:
        id:
          type: string
          title: Id
          description: ID for the Factor Group
        name:
          type: string
          title: Name
          description: Name of the Factor Group
        sequence:
          type: string
          title: Sequence
          description: Sequence of the Factor Group
        factors:
          items:
            $ref: '#/components/schemas/Factor'
          type: array
          title: Factors
          description: Factors belonging to the Factor Group
      type: object
      required:
      - id
      - name
      - sequence
      - factors
      title: FactorGroup
      description: FactorGroup model
    FactorValue:
      properties:
        id:
          type: string
          title: Id
          description: ID of the Factor being saved
        source_type_id:
          anyOf:
          - type: string
            const: '4'
          - type: 'null'
          title: Source Type Id
          description: 'Source type: will always be 4, Value Execution will change to Customer if needed'
          default: '4'
        value:
          anyOf:
          - type: string
          - type: integer
          - type: number
          title: Value
          description: Value of the Factor being saved
      type: object
      required:
      - id
      - value
      title: FactorValue
      description: FactorValue model
    FactorPayload:
      properties:
        factors:
          items:
            $ref: '#/components/schemas/FactorValue'
          type: array
          title: Factors
          description: The factors and values being saved
      type: object
      required:
      - factors
      title: FactorPayload
      description: FactorPayload model
    MessageResponse:
      properties:
        message:
          type: string
          title: Message
          description: Response message
      type: object
      required:
      - message
      title: MessageResponse
      description: MessageResponse model
    value_proposition__factors__models__SourceType:
      properties:
        id:
          type: integer
          title: Id
          description: ID for the Source Type
        name:
          type: string
          title: Name
          description: Name of the Source Type
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Description of the Source Type
      type: object
      required:
      - id
      - name
      title: SourceType
      description: SourceType model
    AllFactor:
      properties:
        factor_id:
          type: integer
          title: Factor Id
        factor_estimate:
          anyOf:
          - type: number
          - type: integer
          title: Factor Estimate
        factor_precision:
          type: integer
          title: Factor Precision
        source_type_id:
          type: integer
          title: Source Type Id
        unit_type_id:
          type: integer
          title: Unit Type Id
        value:
          anyOf:
          - type: number
          - type: string
          title: Value
        name:
          type: string
          title: Name
        description:
          type: string
          title: Description
        ai_updatable:
          type: boolean
          title: Ai Updatable
          default: false
        year1_value:
          anyOf:
          - type: number
          - type: string
          - type: 'null'
          title: Year1 Value
        year1_source_type_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Year1 Source Type Id
        year2_value:
          anyOf:
          - type: number
          - type: string
          - type: 'null'
          title: Year2 Value
        year2_source_type_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Year2 Source Type Id
        year3_value:
          anyOf:
          - type: number
          - type: string
          - type: 'null'
          title: Year3 Value
        year3_source_type_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Year3 Source Type Id
        year4_value:
          anyOf:
          - type: number
          - type: string
          - type: 'null'
          title: Year4 Value
        year4_source_type_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Year4 Source Type Id
        year5_value:
          anyOf:
          - type: number
          - type: string
          - type: 'null'
          title: Year5 Value
        year5_source_type_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Year5 Source Type Id
        year6_value:
          anyOf:
          - type: number
          - type: string
          - type: 'null'
          title: Year6 Value
        year6_source_type_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Year6 Source Type Id
        year7_value:
          anyOf:
          - type: number
          - type: string
          - type: 'null'
          title: Year7 Value
        year7_source_type_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Year7 Source Type Id
        year8_value:
          anyOf:
          - type: number
          - type: string
          - type: 'null'
          title: Year8 Value
        year8_source_type_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Year8 Source Type Id
        year9_value:
          anyOf:
          - type: number
          - type: string
          - type: 'null'
          title: Year9 Value
        year9_source_type_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Year9 Source Type Id
        year10_value:
          anyOf:
          - type: number
          - type: string
          - type: 'null'
          title: Year10 Value
        year10_source_type_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Year10 Source Type Id
      type: object
      required:
      - factor_id
      - factor_estimate
      - factor_precision
      - source_type_id
      - unit_type_id
      - value
      - name
      - description
      title: AllFactor
      description: All-factors response model — one entry per unique factor
    Factor_2:
      properties:
        id:
          type: string
          title: Id
          description: ID for the Factor
        sequence:
          type: string
          title: Sequence
          description: Sequence of the Factor
        name:
          type: string
          title: Name
          description: Name of the Factor
        description:
          type: string
          title: Description
          description: Description of the Factor
        unit_type_id:
          type: string
          title: Unit Type Id
          description: Unit type of the Factor
        unit_type:
          $ref: '#/components/schemas/UnitType'
          description: Unit Type object for the Factor Unit Type
        precision:
          type: string
          title: Precision
          description: Decimal precision for the Factor
        value:
          anyOf:
          - type: string
          - type: integer
          - type: number
          title: Value
          description: Value of the Factor
        value_fr:
          anyOf:
          - type: string
          - type: integer
          - type: 'null'
          title: Value Fr
          description: Value of the Factor
          default: 0
        value_fmt:
          anyOf:
          - type: string
          - type: integer
          - type: 'null'
          title: Value Fmt
          description: Value of the Factor
          default: 0
        source_type:
          anyOf:
          - $ref: '#/components/schemas/value_proposition__factors__models__SourceType'
          - type: 'null'
          description: SourceType of the Factor
        has_scratchpad:
          anyOf:
          - type: integer
          - type: 'null'
          title: Has Scratchpad
          description: Denotes if the factor has a scratchpad
          default: 0
        scratchpad_used:
          anyOf:
          - type: integer
          - type: 'null'
          title: Scratchpad Used
          description: Denotes if factor scratchpad is in use
          default: 0
        literal_number:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Literal Number
          description: Denotes whether the factor should be treated as a literal
          default: false
        ai_updatable:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Ai Updatable
          description: Whether the factor is eligible for AI updates
          default: false
        validation:
          anyOf:
          - $ref: '#/components/schemas/Validation'
          - type: 'null'
        source_attribution:
          anyOf:
          - type: string
          - type: 'null'
          title: Source Attribution
        attribution_link:
          anyOf:
          - type: string
          - type: 'null'
          title: Attribution Link
        attribution_tooltip:
          anyOf:
          - type: string
          - type: 'null'
          title: Attribution Tooltip
        revert_value:
          anyOf:
          - type: number
          - type: 'null'
          title: Revert Value
      type: object
      required:
      - id
      - sequence
      - name
      - description
      - unit_type_id
      - unit_type
      - precision
      - value
      title: Factor
      description: Factor model
    Validation:
      properties:
        id:
          type: integer
          title: Id
        value_prop_id:
          type: integer
          title: Value Prop Id
        account_factor_id:
          type: integer
          title: Account Factor Id
        user_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: User Id
        validating_user_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Validating User Name
        previous_val:
          anyOf:
          - type: integer
          - type: number
          - type: 'null'
          title: Previous Val
        new_val:
          anyOf:
          - type: integer
          - type: number
          - type: 'null'
          title: New Val
        year:
          anyOf:
          - type: integer
          - type: 'null'
          title: Year
        date:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Date
      type: object
      required:
      - id
      - value_prop_id
      - account_factor_id
      - user_id
      - validating_user_name
      - previous_val
      - new_val
      - year
      - date
      title: Validation
      description: Factor Validation Model
    FactorValue_2:
      properties:
        id:
          type: string
          title: Id
          description: ID of the Factor being saved
        source_type_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Source Type Id
          description: 'Source type: will always be 4, Value Execution will change to Customer if needed'
          default: '4'
        value:
          anyOf:
          - type: string
          - type: integer
          - type: number
          title: Value
          description: Value of the Factor being saved
        year:
          anyOf:
          - type: integer
          - type: 'null'
          title: Year
          description: Year in the factor
          default: 1
        validating_user_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Validating User Name
      type: object
      required:
      - id
      - value
      title: FactorValue
      description: FactorValue model
    FactorOverrideNamePayload:
      properties:
        factor_id:
          type: integer
          title: Factor Id
          description: ID of the factor
        override_name:
          type: string
          title: Override Name
          description: Overriding the factor name
      type: object
      required:
      - factor_id
      - override_name
      title: FactorOverrideNamePayload
      description: FactorOverrideNamePayload model
    MessageResponse_2:
      properties:
        message:
          type: string
          title: Message
      type: object
      required:
      - message
      title: MessageResponse
      description: Response model for simple message responses
  securitySchemes:
    HTTPBearer:
      type: http
      description: Access token in the form of a JWT
      scheme: bearer
x-refined-from:
- decisionlink-collaboration-openapi.yml
- decisionlink-value-proposition-openapi.yml
