openapi: 3.2.0
info:
  title: Decisionlink Accrual Types API
  version: 0.1.0
  x-refined-note:
  - x-api-evangelist-source differs across the merged source definitions and was not carried
  description: 'Operations tagged accrual_types across 2 of this provider''s published API definitions: decisionlink-value-facts-openapi.yml, decisionlink-value-proposition-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.xfactor.io
  description: Production API host (Auth0 audience of the Xfactor.io web application)
tags:
- name: accrual_types
paths:
  /v1/value-facts/accrual-types:
    get:
      tags:
      - accrual_types
      summary: Get all accrual types.
      description: Get all accrual types.
      operationId: get_accrual_types_v1_value_facts_accrual_types_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AccrualType'
                type: array
                title: Response Get Accrual Types V1 Value Facts Accrual Types Get
      security:
      - HTTPBearer: []
    servers:
    - url: https://api.xfactor.io
      description: Production API host (Auth0 audience of the Xfactor.io web application)
  /v1/value-proposition/accrual-types:
    get:
      tags:
      - accrual_types
      summary: Get all accrual types.
      description: "Get all accrual types.\n\nReturns\n-------\n - list[AccrualType]: List of all accrual types."
      operationId: get_accrual_types_v1_value_proposition_accrual_types_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AccrualType_2'
                type: array
                title: Response Get Accrual Types V1 Value Proposition Accrual Types Get
      security:
      - HTTPBearer: []
    servers:
    - url: https://api.xfactor.io
      description: Production API host (Auth0 audience of the Xfactor.io web application)
components:
  schemas:
    AccrualType:
      properties:
        id:
          type: integer
          title: Id
          description: Unique identifier for the accrual type.
        name:
          type: string
          title: Name
          description: Name of the accrual type.
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Description of the accrual type.
      type: object
      required:
      - id
      - name
      title: AccrualType
      description: Accrual type response model.
    AccrualType_2:
      properties:
        id:
          type: integer
          title: Id
          description: Unique identifier for the accrual type.
        name:
          type: string
          title: Name
          description: Name of the accrual type.
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Description of the accrual type.
        created:
          anyOf:
          - type: string
          - type: 'null'
          title: Created
          description: Timestamp when the accrual type was created.
        modified:
          anyOf:
          - type: string
          - type: 'null'
          title: Modified
          description: Timestamp when the accrual type was last updated.
      type: object
      required:
      - id
      - name
      title: AccrualType
      description: Accrual Type model
  securitySchemes:
    HTTPBearer:
      type: http
      description: Access token in the form of a JWT
      scheme: bearer
x-refined-from:
- decisionlink-value-facts-openapi.yml
- decisionlink-value-proposition-openapi.yml
